@import 'part:@sanity/base/theme/variables-style';

.table {
  display: table !important;
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  text-transform: uppercase;
  color: var(--gray);
  font-size: 0.9em;
}

.table td,
.table th {
  border-bottom: 1px solid var(--hairline-color);
  padding: 0.5em;
}

.table tr:last-child td {
  border-bottom: none;
}

.commit {
  color: var(--gray);
}