@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/variables/brand-colors-style';
@import 'part:@sanity/base/theme/variables/code-style';

.hook {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.hook:not(:first-child) {
	border-top: 1px solid var(--hairline-color);
}

.hookDetails {
	margin-right: auto;
	padding: 1rem;
	overflow: hidden;
}

.hookTitle {
	composes: heading4 from 'part:@sanity/base/theme/typography/headings-style';
	margin-top: 0;
	margin-bottom: 6px;
	padding-top: 0;
}

.hookTitle > span {
	margin-right: .5rem;
}

.hookTitle [data-ui="Badge"] {
	vertical-align: middle;
}

.hookURL {
	margin: 0;
	color: var(--code-color);
  line-height: 17px;
  font-size: 13px;
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hookActions {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-shrink: 0;
	padding: 1rem;
}

.deployButton,
.deleteButton {
	margin-left: 0.5em;
}

.hookTime {
	display: block;
	font-size: .75em;
	font-weight: 400;
	line-height: 1.5;
	color: var(--gray-base);
}

.hookStatus {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	margin-right: 1em;
}

.hookStatusError {
	margin-left: .5rem;
	line-height: 0;
	cursor: pointer;
}