@import 'part:@sanity/base/theme/variables-style';

.hookStatusIndicator {
	
}

.hookStatusIndicator::before {
	content: '';
	display: block;
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 9999px;
	background: var(--hairline-color);
}

.hookStatusIndicator[data-indicator="ERROR"]::before {
	background: #e00;
}

.hookStatusIndicator[data-indicator="READY"]::before {
	background: #50e3c2;
}

.hookStatusIndicator[data-indicator="BUILDING"]::before {
	background: #f5a623;
	animation: pulseBuilding 2s infinite;
}

.hookStatusIndicator[data-indicator="QUEUED"]::before {
	background: var(--gray-base);
	animation: pulseQueued 2s infinite;
}

@keyframes pulseQueued {
  0% {
		box-shadow: 0 0 0 0 rgba(0,0,0, 0.3);
  }
  70% {
		box-shadow: 0 0 0 8px rgba(0,0,0, 0);
  }
  100% {
		box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}

@keyframes pulseBuilding {
  0% {
		box-shadow: 0 0 0 0 rgba(245,166,35, 0.5);
  }
  70% {
		box-shadow: 0 0 0 8px rgba(245,166,35, 0);
  }
  100% {
		box-shadow: 0 0 0 0 rgba(245,166,35, 0);
  }
}