.hookStatusIndicator {
  display: flex;
  align-items: center;
  margin-right: 1em;
  padding-left: 1.25em;
  position: relative;
}

.hookStatusIndicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  background: var(--hairline-color);
}

.hookStatusIndicator[data-indicator='ERROR']::before,
.hookStatusIndicator[data-indicator='CANCELED']::before {
  background: #e00;
}

.hookStatusIndicator[data-indicator='READY']::before {
  background: #50e3c2;
}

.hookStatusIndicator[data-indicator='BUILDING']::before {
  background: #f5a623;
  animation: pulseBuilding 2s infinite;
}

.hookStatusIndicator[data-indicator='QUEUED']::before {
  background: var(--gray-base);
  animation: pulseQueued 2s infinite;
}

@keyframes pulseQueued {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulseBuilding {
  0% {
    box-shadow: 0 0 0 0 rgba(245, 166, 35, 0.5);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(245, 166, 35, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(245, 166, 35, 0);
  }
}
