@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/variables/code-style';

.appContainer {
	padding: 2rem;
}


.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.header {
	composes: header from 'part:@sanity/dashboard/widget-styles';
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.titleIcon {
  top: 0.125em;
  position: relative;
  margin: -.25em .25em -.25em -.25em;
  width: 1.5em;
  height: 1.5em;
}

.list {
	composes: content from 'part:@sanity/dashboard/widget-styles';
	padding: 0;
	border-top: 1px solid var(--hairline-color);
	min-height: 0 !important;
	height: auto !important;
}

.loader {
  padding: 2rem;
}

.emptyList {
	margin: 1rem 4rem 4rem;
  text-align: center;
}

.emptyHelpLink {
  color: var(--gray-lighter);
  text-decoration: none;
}

.emptyIcon {
  display: block;
  margin: 4rem auto 0;
  width: 8rem;
}

.footer {
  composes: footer from 'part:@sanity/dashboard/widget-styles';
	border-top: 1px solid var(--hairline-color);
	cursor: pointer;
}

.fieldWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--large-padding);
}